* {
	max-width: 100%;
	margin: 0;
	padding: 0;
}

body, button {
	background: #fff;
	font-family: "Segoe UI", Arial, sans-serif;
	color: #444;
}

body > div {
	background: #fefeff;
	margin: .5em 2em;
	padding: .25em;
	border: 1px solid #eee;
	border-radius: 2px;
}
	body > div:before {
		position: absolute;
		left: .75em;
		margin-top: -.25em;
	}

button {
	display: inline-block;
	padding: .5em;
	background: transparent;
	font-size: .97em;
	border: none;
	border-radius: 3px;
}
	button:hover {
		background: #e7ecf1;
		cursor: pointer;
	}
	button:active, button:focus { outline: none }
	button::-moz-focus-inner { border: none }

input {
	width: 19em;
	max-width: calc(100% - 7em);
	padding: .1em;
	border: none;
	border-bottom: 1px solid #444;
}

ul {
	display: none;
	margin: 0;
	list-style: none;
	padding-left: 1.25em;
}

li:before { padding-right: .25em }

#player {
	white-space: nowrap;
	overflow: hidden;
}

#cover, #current {
	display: inline-block;
	vertical-align: middle;
}

#current { max-width: calc(100% - 8.5em)}
	#current > div {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

#cover {
	width: 7.25em;
	height: 7.25em;
	margin-right: 1em;
	border: 1px solid #fafafa;
	border-radius: 3px;
	cursor: zoom-in;
}
	#cover.zoomed {
		width: auto;
		height: auto;
		margin: 0 auto;
		cursor: zoom-out;
	}

#folder, #song { cursor: alias }

#song { font-weight: bold }

#controls { margin-top: .25em }
	#controls > button:before { margin: .25em }

#options > .sharediv { white-space: nowrap }
	#options > button:before { margin-right: .25em }

#shares input { direction: rtl }

#playlist {
	min-height: 1.5em;
	max-height: 10em;
	overflow-y: auto;
}
	#playlist > li {
		list-style: none;
		cursor: alias;
	}

#filterdiv { white-space: nowrap }
	#filterdiv input {
	width: 20.5em;
	max-width: calc(100% - 3em)
}

#tree {
	padding: 0;
	list-style: none;
}
	#tree li { cursor: pointer }
	#tree li:not(.open):hover { color: #ef6c00 /*#607d8b*/ }
	#tree li.open > ul { display: block }

.dim { opacity: .5 }
.hide { display: none }

@media screen and (max-width: 480px) {
	body > div { margin: .1em }
	body > div:before { display: none }
}

@media screen and (max-width: 570px) {
	#cover {
		width: initial;
		height: initial;
		max-height: 10em;
	}
	#cover, #current, #current > div {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}

@font-face {
	font-family: "Foundation";
	src: url("music.woff") format("woff");
}

*:before, *:after {
	display: inline-block;
	width: 1em;
	font-family: Foundation;
	text-align: center;
}

#clear:before { content: "\f204" }
#enqueue:before { content: "\f17f" }
#library:before { content: "\f17b" }
#next:before { content: "\f17c" }
#options:before { content: "\f214" }
#player:before { content: "\f153" }
#playlist:before { content: "\f103" }
#playpause:before { content: "\f198" }
	#playpause.playing:before { content: "\f191" !important }
#previous:before { content: "\f19c" }
#setfilter:after { content: "\f14b" }
#random:before { content: "\f13a" }
#share:before { content: "\f1ad" }
#stop:before { content: "\f1ef" }

.copied:before { content: "\f129" }
.download:before { content: "\f143" }
.folder:before { content: "\f150" }
.folder.open:before { content: "\f14e" }
.on:before { content: "\f126" !important }
.playing:before { content: "\f198" }
.link:before { content: "\f165" }
.song:before { content: "\f17b"; opacity: .6 }
.whatsapp:before { content: "\f1a6" }