:root {
	--bg: #10100f;
	--bg-body: #1a1a1a;
	--bg-button-hv: #1c1c1c;
	--bg-clear: rgba(16, 16, 15, .8);
	--bg-player-fix: #121211;
	--bg-splash: #212121;
	--bg-thumb: #212121;
	--bg-thumb-hv: #313131;
	--bg-toast: #121211;
	--bg-toast-error: #911d1d;
	--border: #1e1e1e;
	--border-cover: #696969;
	--box-shadow: #10100f;
	--focus: #1d91f0;
	--focus-dim: #1a6eac;
	--text: #b4b4b4;
	--text-dim: #696969;
	--text-li-parent: #3c3c3c;
	--text-locked: #5a5a5a;
/*	--text-shadow* not used */
}

/* Dark theme */
*, *:before { text-shadow: none !important }

#cover { opacity: .6 }
	#cover:hover, #cover.nofade { opacity: 1 }

@media (min-width: 541px) {
	body { background-image: url("musictheme.svg") }
	body > div { box-shadow: 0 0 3px #242424 }
}

/* Dark scrollbars */
::-webkit-scrollbar { width: 12px }
::-webkit-scrollbar-track { background: #141414; border-radius: 2px }
::-webkit-scrollbar-thumb { background: var(--bg-thumb); border-radius: 2px }
::-webkit-scrollbar-thumb:hover { background: var(--bg-thumb-hv) }
::-webkit-resizer { background: #171717 }

html, #playlist {
	scrollbar-color: #212121 #171717;
  scrollbar-width: thin;
}

/* Display songs in tree horizontally 
#tree li.song {
	display: inline-block;
	margin-right: 2.5em;
}
*/

/* Set a fixed height for the playlist
#playlist { height: 7.75em !important }*/